html{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

body{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
}

canvas{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
}
